
@{
    ViewBag.Title = "Barco";
}

<h1>@ViewBag.Title</h1>

<p><br />Going Marry</p>

<img src="https://www.friking.es/img/cms/Going-Merry-live-action-One-Piece-e1615311052399.jpg" alt="Img Going Merry" />