@{
    ViewBag.Title = "Home Page";
}

<div style="background:lightSkyBlue; padding: 40px; margin:0px">
    <h1>Going Merry</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hacia el Grand Line</h2>
        <p>Vamos por One Piece, iniciemos formando la tripulación</p>
    </div>
</div>